.series {
    padding: 0 1rem;
}

.series form {
    padding: 2rem 1rem;
    border-radius: 1rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.series form p:nth-child(1) {
    margin-bottom: 1.1rem;
    font-size: 1.3rem;
}

.series form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.series form div div {
    display: flex;
    flex-direction: column;
}

.series form div input,
select {
    border: none;
    background-color: var(--dark3);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.series form button {
    background-color: var(--primary);
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.series form button:hover {
    background-color: var(--primaryLight);
}

.series-title {
    margin: 1rem 0;
    font-size: 1.3rem;
}

.series-infos {
    overflow: scroll;
    height: 27rem;
}

.series-infos li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0.5rem;
    margin: 0.3rem 0;
}

.series-infos li img {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    object-fit: cover;
}

.series-infos li i {
    font-size: 1.3rem;
}

.series-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: var(--blue);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--light1);
    font-size: 0.8rem;
}

.series-action__wrench {
    position: absolute;
    width: 6rem;
    top: 0;
    left: 50%;
    background-color: var(--light1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;
    z-index: 99999999;
    gap: 0;
    display: none;
}

.series-action:hover .series-action__wrench {
    display: block;
}

.series-action__wrench li {
    gap: 0 !important;
    padding: 0.1rem 0.3rem !important;
    margin-top: 0.2rem !important;
}

.series-action__wrench li a {
    color: var(--dark1);
    font-size: 0.7rem;
    padding: 0.1rem 0.3rem;
    transition: 0.3s;
}

.series-action__wrench li a:hover {
    color: var(--primary);
}

.series-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.series-header img {
    width: 4rem;
    height: 4rem;
}

.series-header-title {
    font-size: 1.3rem;
}

.series-header-subTitle {
    color: var(--zinc);
    font-size: 0.9rem;
}